<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="js/index.js"></script>
	<title>URL Shortener Microservice</title>
	<style>
	body{
		text-align: center;
		margin-top: 140px;
		background-color: skyblue;
	}
	input{
		margin-top: 50px;
		width: 40%;
		font-size: 16px;
	}
	button{
		margin-top: 15px;
	}
	h6{
		margin-top: 70px;
	}
	</style>
</head>
<body>
	<h1> URL Shortener Microservice </h1>
	<h3>FCC API Project</h3>
	<a href="https://www.freecodecamp.com">https://www.freecodecamp.com</a>
	<br />
	<input type="text" id="url" placeholder="Write The URL Here" />
	<br />
	<button id="btn">Click to do it</button>
	<br />
	<h6><i>Written by Abdulrahman Algedairey</i></h6>
</body>
</html>